body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #de8f8f;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 1.5em;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

.nav-links a:hover {
    background: #6e4f4f;
    border-radius: 5px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
}

.menu-toggle .bar {
    background: #fffcfc;
    height: 3px;
    width: 25px;
    margin: 3px 0;
    border-radius: 3px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background: #333;
    }

    .nav-links li {
        margin: 0;
    }

    .nav-links a {
        padding: 10px;
        display: block;
        text-align: center;
    }

    .menu-toggle {
        display: flex;
    }
}